.taskDiv {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  background-color: #e1e1e1;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.taskHeader {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.taskHeader > * {
  margin-right: 5px;
}

.taskTitle {
  font-weight: bold;
  font-size: 18px;
  margin-right: 20px;
}

.taskPriority {
  font-size: 14px;
  width: 60px;
  text-align: center;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}
.low {
  background-color: green;
}

.medium {
  background-color: orange;
}

.high {
  background-color: red;
}

.taskDescription {
  font-size: 16px;
  flex-grow: 1;
  text-align: justify;
  margin: 10px;
  font-weight: bold;
  color: #333333b8;
}

.taskDate {
  font-size: 14px;
  color: #666666;
  font-weight: bold;
}

.expandButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
}

.deleteButton {
  background-color: #f4433674;
  border: none;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #d32f2f;
}

.noTasksMessage {
  text-align: center;
  font-weight: bold;
  color: #3333338a;
  font-size: 20px;
  position: relative;
  margin-left: 50%;
  margin-top: 25%;
  transform: translate(-50%, 0);
}